/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-scondary);
}


/* general */
:root {
    --color-scondary: #ffffff;
    --color-primary: #23272a;
    --color-header-bg: #255EE9;
    --color-section-bg: #f6f6f6;
    --color-contrast: #628CF7;
}

/* .debug {
    border: 1px solid red;
} */

body {
    font-family: "Noto Sans", sans-serif;
    background-color: var(--color-scondary);
    color: var(--color-primary)
}

/* header */
header {
    background-color: var(--color-header-bg);
    color: var(--color-scondary);
}

#hero {
    background-image: url('../img/jumbo.png');
    min-height: 460px;
    background-size: 100%;
    background-repeat: no-repeat;
}

h1{
    font-size: 40px;
}


/* main */
.left {
    width: 60%;
}

.left img {
    width: 100%;
}

.right {
    width: 40%;
    padding: 3%;
}

h2{
    font-size: 40px;
}

/* section{
    padding: 80px;
} */
/* footer */
footer {
    background-color: var(--color-primary);
    color: var(--color-scondary);
}

h3{
    color: var(--color-contrast);
}

#flag{
    width: 30px;
}

footer .top {
    border-bottom: 1px solid var(--color-contrast);
    padding-top: 90px;
    padding-bottom: 40px;
}

footer .bottom{
    padding-top: 20px;
    padding-bottom: 60px;
}


/* utility */
.conteiner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.small-conteiner{
    max-width: 800px;
    min-width: 460px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.pdg-conteiner{
    padding: 120px 80px;
}

.pdg-small-conteiner{
    padding-top: 40px;
    padding-bottom: 150px;
}


/* cercare e dare effetto sfocato passando il cursore */
.btn-small {
    padding: 8px 14px;
    border-radius: 25px;
    border: 1px solid var(--color-scondary);
}

.btn-big {
    padding: 12px 18px;
    margin: 0 10px;
    border: 1px solid var(--color-scondary);
    border-radius: 25px;
}

/* utility flex */
.d-flex {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 30px;
}

.align-items{
    align-items: center;
    gap: 8px;
}

.gap {
    grid-gap: 30px;
}

/* utitlity background */
.bg-white {
    background-color: var(--color-scondary);
}

.bg-lilla {
    background-color: var(--color-contrast);
    border-color: var(--color-contrast);
}

.bg-black{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.bg-section {
    background-color: var(--color-section-bg);
}

/* utility text */
.text-white {
    color: white;
}

.text-black {
    color: var(--color-primary)
}

.text-lilla{
    color: var(--color-contrast);
}

.text-center{
    margin: 0 auto;
    text-align: center;
}


/* id specific */
#call-to-action {
    background-image: url('../img/stars.svg');
    background-size: 100% 100%;
}