/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-scondary);
}

a:hover:not(.btn-small, .btn-big) {
    text-decoration: underline;
}


/* general */
:root {
    --color-scondary: #ffffff;
    --color-primary: #23272a;
    --color-header-bg: #255EE9;
    --color-section-bg: #f6f6f6;
    --color-contrast: #628CF7;
}

/* .debug {
    border: 1px solid red;
} */

body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    background-color: var(--color-scondary);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-primary)
}

p {
    line-height: 1.8;
}

/* utility */
.conteiner:not(wave) {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.small-conteiner {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.pdg-conteiner {
    padding: 120px 80px;
}

.pdg-small-conteiner {
    padding-bottom: 100px;
}


.btn-small {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 25px;
    border: 1px solid var(--color-scondary);
    transition: all 1s;
}

.btn-small:hover {
    border: 1px solid;
    box-shadow: 5px 8px 11px var(--color-primary);
}

.btn-big {
    display: inline-block;
    padding: 12px 18px;
    margin: 0 10px;
    border: 1px solid var(--color-scondary);
    border-radius: 25px;
    transition: all 1s;
}

.btn-big:hover {
    border: 1px solid;
    box-shadow: 5px 8px 11px var(--color-primary);
}

/* utility flex */
.d-flex {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column-reverse {
    flex-direction: column-reverse;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 30px;
}

.align-items {
    align-items: center;
    gap: 8px;
}

.gap {
    grid-gap: 30px;
}

.gap-small-conteiner {
    grid-gap: 60px;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* utitlity background */
.bg-white {
    background-color: var(--color-scondary);
}

.bg-lilla {
    background-color: var(--color-contrast);
    border-color: var(--color-contrast);
}

.bg-black {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.bg-section {
    background-color: var(--color-section-bg);
}

/* utility text */
.text-white {
    color: white;
}

.text-black {
    color: var(--color-primary)
}

.text-lilla {
    color: var(--color-contrast);
}

.text-center {
    margin: 0 auto;
    text-align: center;
}

/* header */
header {
    background-color: var(--color-header-bg);
    color: var(--color-scondary);
}

#hero {
    background-image: url('../img/jumbo.png');
    min-height: 460px;
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    font-size: 40px;
}

.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-header-bg);
}


/* main */
.left {
    width: 60%;
}

.left img {
    width: 100%;
}

.center-img {
    width: 150%;
}

.right {
    width: 40%;
    padding: 3%;
}

h2 {
    font-size: 40px;
}

section {
    padding: 40px;
}

.wave {
    background-image: url(../img/wave.svg);
    opacity: 0.04;
    height: 100px;
}

.wave-reverse {
    background-image: url(../img/wave.svg);
    opacity: 0.04;
    height: 100px;
    transform: rotateX(180deg);
}

/* footer */
footer {
    background-color: var(--color-primary);
    color: var(--color-scondary);
    font-size: 80%;
}

footer h2 {
    font-size: 30px;
}

h3 {
    color: var(--color-contrast);
}

footer .top {
    border-bottom: 1px solid var(--color-contrast);
    padding-top: 90px;
    padding-bottom: 40px;
}

footer .bottom {
    padding-top: 20px;
    padding-bottom: 60px;
}




/* id specific */

#flag {
    width: 30px;
}

#call-to-action {
    background-image: url('../img/stars.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 25px 45px 15px;
}

#call-to-action h2 {
    font-size: 35px;
}