/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

/* general */
:root {
    --color-scondary: #ffffff;
    --color-primary: #23272a;
    --color-header-bg: #255EE9;
    --color-section-bg: #f6f6f6;
    --color-contrast: #aebbe7;
}

/* .debug {
    border: 1px solid red;
} */

body {
    font-family: "Noto Sans", sans-serif;
    background-color: var(--color-scondary);
    color: var(--color-primary)
}

/* header */
header {
    background-color: var(--color-header-bg);
    color: var(--color-scondary);
}
#hero{
    background-image: url('../img/jumbo.png');
    min-height: 500px;
    background-size: cover;
}

/* main */
.left{
    width: 60%;
}
.left img{
    width: 100%;
}
.right{
    width: 40%;
    padding: 3%;
}
/* footer */
footer{
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
footer .top{
    border-bottom: 1px solid var(--color-contrast);
}

/* utility */
.conteiner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.small-conteiner{
    max-width: 800px;
    /* margin: 0 auto;
    padding: 10px;
    text-align: center; */
}

/* cercare e dare effetto sfocato passando il cursore */
.btn-big{
   padding: 10px 16px;
   border-radius: 20px;
   border: 1px solid var(--color-scondary);
}

/* utility flex */
.d-flex{
    display: flex;

}
.row-reverse{
    flex-direction: row-reverse;
}
.space-between{
    justify-content: space-between;
}
.align-content-center{
    align-content: center;
    align-items: center;
}
.column{
    flex-direction: column;
    justify-content: flex-start;
    flex-flow: 0 1 auto;
}

/* utitlity background */
.bg-white{
    background-color: var(--color-scondary);
}
.bg-lilla{
    background-color: var(--color-header-bg);
}
.bg-section{
    background-color: var(--color-section-bg);
}
/* utility text  */
.text-center{
    margin: 0 auto;
    text-align: center;
}
.text-white{
    color: var(--color-scondary);
}
/* id specific */
#call-to-action{
    background-image: url('../img/stars.svg');
    background-size: 100% 100%;
}